.post-img
{width:100%;height:45vh;position:relative;}

.post-img .overlay
{background:rgba(36, 69, 94, 0.7);width:100%;height:45vh;position:absolute;}

.post-img div.container
{position:relative;width:100%;height:100%;z-index:1000;}

.post-img div.row
{position:absolute;bottom:20px;}

.post-img .post-title-heading
{font-size:250%;color:#F5CB65;}

.post-img img
{width:100%;height:100%;object-fit:cover;}

.single p
{color:#24455E !important;}

.single .author
{color:#53A3DE;text-decoration:none;cursor:pointer;}

.single hr
{border-top: 3px solid #F5CB65;width:100%;margin:0.6rem 0;}

.single .padding
{padding-top:4rem;padding-bottom:4rem;}

.single .blog-post-meta p
{margin:0;}

.single .post-meta-second
{display:flex;justify-content:space-between;align-items:flex-start;flex-direction:row;}

.single .post-meta-second a
{color:#00acee;}

.single ul, .single ul li, .single h1, .single h2, .single h3, .single h4, .single h5, .single h6 {
    color: #24455E;
}

.single a {
    color: #00acee; text-decoration: underline;
}



@media (min-width: 768px) {
.post-img .post-title-heading
{font-size:350%;}
}

@media (min-width: 992px) {
.single .post-meta-second
{display:flex;justify-content:space-between;align-items:center;flex-direction:row;}
.single .post-meta-second .post-social-media
{align-self:flex-end;margin-top:0;}
}
    



@media (min-width: 1200px) {
.post-img .post-title-heading
{font-size:450%;}
}